.footer {
  padding: 100px 0;

  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .footer-menu {

    li {
      padding: 18px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }

    a:hover {
      color: $blue;
    }
  }
}

.bottom-footer {
  text-align: center;

  .footer-logo {

    display: block;
    margin-bottom: 24px;
    img {
      max-width: 120px;
    }
  }
}