.header {
  padding: 70px 0 30px 0;

  @include mq("desktop") {
      display: none;
  }

  .row-area [class^="col-"] {
    display: flex;
    align-items: center;

  }

  .col-logo {
    justify-content: center;
    a {
      display: inline-block;
      max-width: 180px;
    }
  }

  .col-search {
    justify-content: flex-end;
  }
}

.navigation {

  padding: 30px 0;
  position: sticky;
  top: -75px;
  transition: all ease .3s;
  background-color: #fff;
  z-index: 100;

  @include mq("desktop") {
    display: none;
  }

  .row-area {
    justify-content: center;
  }



  .col-nav {
    @extend %allCenter;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;


    li {

      &.active {

        a {
          background-color: $blue;
          border-radius: 25px;
          font-weight: 500;
          color: #fff;
          white-space: nowrap;

        }

      }

      &:hover {

        &:not(.active) >a, i {
          color: $red;
        }
      }

      a {
        color: #222;
        font-weight: 400;
        padding: 10px 15px;
        display: inline-block;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:last-child .dropmenu {
        left: -100%;
      }

      &.submenu {
        position: relative;

        i {
          margin-left: 6px;
        }
      }

      &.submenu:hover > .dropmenu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

    }
  }

  .dropmenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    max-width: 260px;
    transform: translateY(-5px);
    box-shadow: 3px 5px 8px rgba(#222, .1);
    border: 1px solid rgba($red, .15);
    visibility: hidden;
    opacity: 0;
    transition: all ease .3s;
    background-color: #fff;
    padding: 5px 10px;
  }

  .logo-link img {
    max-width: 120px;
  }

  &.sticky {

    top: 0;
    box-shadow: 0 3px 6px rgba(#222, .15);

    .hide {
      display: flex;
      align-items: center;
    }

    .col-nav {
      justify-content: flex-end;
    }
  }


}

.mobile-header {

  @include mq("min-desktop") {
    display: none;
  }

  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba($blue, .2);

  .row-area [class^='col-'] {
    display: flex;
    align-items: center;
  }

  .search {
    padding: 10px;
    color: $blue;
    background-color: transparent;
    font-size: 24px;
    outline: none;
  }

  .col-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }



  .logo-link img {
    max-width: 100px;

  }

  .menu-toggler {

    background-color: transparent;

    @include mq("min-desktop") {
      display: none;
    }

    padding: 6px;
    background-color: transparent;
    width: 27.6px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    outline: none;

    span {
      border-radius: 10px;
      height: 4px;
      display: inline-block;
      transition: all ease .3s;
      pointer-events: none;
    }

    & > span:nth-child(1) {
      background-color: $blue;
      width: 18px;
      margin-left: 9.6px;
      margin-bottom: 4px;
    }
    & > span:nth-child(2) {
      background-color: $orange;
      width: 27.6px;
      margin-bottom: 4px;
      margin-left: 0;
    }
    & > span:nth-child(3) {
      background-color: $blue;
      width: 18px;
      margin-left: 0;
    }





  }
}

.form-col {

  form {
    width: 100%;
    position: relative;

  }

  input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #ddd;
    transition: all ease .3s;

    &:focus {
      border-color: $blue;
    }
  }

  button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    padding: 10px;
    right: 10px;
  }

}

#searchModal {

  .modal-content {
    padding: 15px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
  }

  .btn-close {
    padding: 10px;
    background-color: transparent;
    color: $red;
  }

}


/* mobile hamburger*/

.mobile-hamburger {

  visibility: visible;
  width: calc(100% - 35px);
  background: #fff;
  padding-top: 30px;
  color: #222;

  &.show {
    left: 0;

  }

  .canvas-content {

    padding: 15px;
    padding-top: 0;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0,0,0,0.1);
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: rgba(0,0,0,0.2);
    }
    &::-webkit-scrollbar-thumb:hover{
      background: rgba(0,0,0,0.4);
    }
    &::-webkit-scrollbar-thumb:active{
      background: rgba(0,0,0,.9);
    }

  }

  .btn-area {
    display: flex;
    justify-content: flex-end;

    .btn-close {
      height: 35px;
      width: 35px;
      transform: translateX(calc(100% + 1px));
      position: absolute;
      padding: 5px;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all ease .3s;

      span {
        height: 4px;
        border-radius: 10px;
        position: absolute;

        &:nth-child(2) {

          background-color: $blue;
          width: calc(100% - 10px);
          left: 5px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(1) {

          background-color: $orange;
          width: 100%;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }

    }
  }

  &.show .btn-close {
    opacity: 1;
    visibility: visible;
  }

  .top-area {

    margin-bottom: 30px;
    .img-link {
      display: inline-block;
      max-width: 160px;
    }
  }

  .nav-menu {

    display: block;
    margin-bottom: 30px;

    a {
      color: #222;
      font-weight: 300;
      display: block;
      padding: 15px 0;
    }

    .active {
      font-weight: 600;
    }

    .submenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .submenu + .dropmenu {
      background-color: #fafafa;
      padding-left: 15px;
      display: none;

    }

    .submenu-toggler {
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 10px 30px;
      cursor: pointer;
      background-color: transparent;
    }

  }


}